<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<%= Time.now %><br />
<%= 15 + 20 %><br />
<% hasil = 3 * 7 %>
<%= hasil %>

<br />
<br />

<% 3.times do %>
<%= 'ruby sangat keren ya' %>
<br />
<% end %>

<br />
<br />

<%= @kegiatan %>

<br />
<br />

<%=  @nama %><br />
<%=  @alamat %><br />
<% @nilai.each do |nilai| %>
<%= nilai %><br />
<% end %>

<br />

<%# Membuat Link %>
<a href='/demo/coba'>Ke Coba</a>
<br>
<%= link_to "Ke Coba 2", {controller: 'demo', action: 'coba'} %>

<br />
<br />

<%= params.inspect %>
<br />
<br />

id : <%= @id %> <br />
page: <%= @page %>